*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
body,button{
    font-family: 'Rubik', sans-serif;
    
}
a{
    text-decoration:none;
}
.title-xxxl{
    font-weight:700px;
    font-size:64px;
    line-height:76px;
    color:#FFF;
}
.title-xxl{
    font-weight:700px;
    font-size:40px;
    line-height:60px;
}
.title-xl{
    font-weight:700px;
    font-size:32px;
    line-height:48px;
}
.title-l{

    font-weight:500px;
    font-size:32px;
    line-height:48px;
}
.title{
    font-weight:500px;
    font-size:20px;
    line-height:30px;
}
.text{
    font-weight:400px;
    font-size:16px;
    line-height:28px;
}
.button-primary{
    font-weight:500px;
    font-size:18px;
    line-height:27px;
    padding:18px 24px;
    background-color:#3671E9;
    color:#FFF;
    border-radius:32px;

} 
.button-secondary,.button-tertiary{
    font-weight:500px;
    font-size:16px; 
    line-height:24px;
    padding:14px 32px;
    border-radius:32px; 

}
.button-secondary{
    background-color:#3671E9;
    color:#FFF;
    display: inline-block;
}
.button-tertiary{
    color: #0D0D2B;
    background-color:#fff;
}
.link{
    font-weight:400px;
    font-size:16px;
    line-height:28px;
    color:#fff;
    text-decoration:none;
}
.container{
    max-width: calc(100% - 220px);
    margin:auto;
    padding:0 10px;
}
header{
    padding:60px 0;
    position:;
    top:0px;
    width:100%;
    z-index:1;
    background-color:#0D0D2B;
}
nav{
    float:right;
}
.clear{
    clear:both;
}
.brand-logo{
    display:inline-block;
    line-height:0px;
}
.brand-logo img{
    height:40px;
    width:auto;
}
nav .link{
    margin-right:32px
}
nav .link:nth-of-type(5){
    margin-left:56px;
    margin-right:46px;
}
nav .button-secondary{
    display:inline-block;
}
.menu{
    display: inline-block;
}
.hero-section{
    background-color:#0D0D2B;
    height:100vh;
    background-image: url(../image/Illustration.png);
    background-repeat: no-repeat;
    background-size:;
    background-position: 85% 0;

}
.hero-content span {
    background-color:#FFF;
    color:#0D0D2B;
    padding:4px 16px;
    border-radius:32px;
    margin-right:16px;
    font-weight:500;
    font-size:16px;
    line-height:24px;
}
.hero-content{
    max-width:588px;
    position:absolute;
    top:50%;
    transform:translateY(-40%);
}
.hero-content div {
    background-color:#FFFFFF1A;
    color: #FFFFFF;
    border-radius:32px;
    padding:6px 10px 6px 0;
    max-width:365px;
    margin-bottom:24px;
}
.hero-content p{
    margin:24px 0 32px 0;
    color:#FFF;
}
.button-primary{
    
}
.button-primary img{
    vertical-align:middle;
    margin-left:24px;
}
.hero-img{
    width: 604px;
    position:absolute;
    top:163px;
    left:780px;
    height:586px;
}
@media (max-width:700px){
    .hero-section h1{
        font-size:40px;
    }
    .market-box{
        display:block;
    }
}
.crappo-section{
    background-color:#0D0D2B;
    position:relative;
    background-image: url(../image/crappo-img.png);
    background-repeat:no-repeat;
    background-position:150px 300px;
}
.crappo-icon {
    display:inline-block;
    padding:100px 0;
    color:#FFF;
    width:28%;
}
.crappo-icon div{
    display:inline-block;
    margin-left:24px;
}
.crappo-icon p{
    

}
.crappo-icon:nth-of-type(2){
    margin:0 7%;
}
.crappo-img{
    display:inline-block;
    margin-bottom:100px;
}

.crappo-content{
    display:inline-block;
    width: 50%;
    color:#fff;
    margin-top:190px;
    margin-bottom:170px;
    margin-left:60%;

}
.crappo-content p{
    margin:23px 0 31px 0;
}
.crappo-sec-2{
    display: flex;
}
.crappo-sec-3{
    text-align:center;
    color:#fff;
}
.crappp-sec-3 h2{
    padding-top:100px;
}
.crappo-sec-3 p{
    text-align:center;
    margin:24px 0 64px 0;
    max-width:622px;
    display: inline-block;
    margin-bottom:220px;
}
.crappo-form {
    display: inline-block;
    padding:48px 48px ;
    width:75%;
    background-color:#fff;
}  
.crappo-form .button-secondary,.crappo-form input{
    display:inline-block;
}
.crappo-trade{
    position:relative;
    margin-top:-148px;
    text-align:center;
}
.crappo-ip-1{
    width:38%;
    margin-right: 30px;
    border:0px;
    border-bottom:3px solid #E0E0E0;
}
.crappo-ip-2{
    width:18%;
    margin-right:30px;
    border:0px;
    border-bottom:3px solid #E0E0E0;

}
.trade-content{
    background-color:#fff;
    padding:48px;
    display:inline-block;
    width: 75%;    
}
.trade-section{
    background-color:pink;
}
.trade-section h2{
    text-align:center;
    margin:100px 0 48px 0;
}
.coin-box{
    padding:48px 24px;
    color:#FFF;
    display:inline-block;
    text-align:center;
    border-radius:16px;
    width:31%;
    margin-bottom:100px;
}
.coin-box img{
    display: inline-block;
    text-align:center;
}
.coin-box h3{
    margin:48px 0 16px 0;
}
.coin-box p{
    margin-bottom:24px;
}
.coin-box span img{
    vertical-align:middle;
    width:32px;
    height:32px;
    margin-left:24px;
}
.coin-box .button-secondary{
    display: inline-block;
    padding:16px 32px;
}
.coin-box:nth-of-type(1){
    background-color:#2B076E;
}
.coin-box:nth-of-type(2),.coin-box:nth-of-type(3){
    color:black;
    margin-left:3%;
    background-color:#FFF;
}
.coin-box:nth-of-type(2) p,.coin-box:nth-of-type(3) p{
    color:#828282;
}
.market-section{
    color:#FFF;
    background-color: #2B076E;
}
.market-section h2{
    text-align:center;
    color:#FFF;
    padding:100px 0;

}
.market-content{
    display:inline-block;
}
.market-content p{
    margin:24px 0 32px 0;
    max-width:408px;
}
.market-box{
    margin-bottom:120px;
    display:flex;
    justify-content:space-between ;
}
.market-section img{
    display:inline-block;
}
.market-row-1 .market-content{
    margin-right:164px;
}
.market-row-2 img{
    margin-left:-120px;
    margin-right:91px;
}
.market-row-2{
    align-items: center;
}
.market-row-3 .market-content{
    margin-right:61px;
}
.mining-content{
    display:inline-block;
    padding:48px;
    margin-right:190px;
}
.mining-box{
    background-color:#3671E9;
    border-radius:16px;
}
.mining-box input{
    background-color: #3671E9;
    display: inline-block;
    color:#FFF ;
    border:0;
}
.mining-box input::placeholder{
    color:#FFF;
}
.mining-box  button{
    margin-left:150px;
}
footer{
    background-color: #0D0D2B;
    padding:80px 0;
}
.footer-logo,.col-3{
    vertical-align:top;
    display:inline-block;
}
.col-1,.col-2,.col-3{
    display:inline-block;
    color:#FFF;
    list-style:none;
}
.col-1{
    margin-left:170px;
}
.col-2{
    margin-left:135px;
}
.col-3{
    margin-left:104px;
}
.col-2 h5,.col-1 h5{
    margin-bottom:24px;
}
.col-1 ul li,.col-2 ul li{
    list-style:none;
    margin-bottom:22px;
}
.bottom-text{
    display: inline-block;
    color:#FFF;
}
.social-media{
    display:inline-block;
    float:right;
}
.social-media img {
    margin:0 15px;
}
.sample{
    height:100px;
    width:30%;
    background-color:pink;
    display: inline-block;
}
.sample:nth-of-type(2){
    margin-right:3%;
    margin-left:3%;
}
nav .fa {
    color: #FFF;
    display: none;
}
@media (max-width:1400px){
    .col-3{
        margin-left:40px;

    }
    .mining-content{
        margin-right:100px;
    }
    .mining-box button{
        margin-left:76px;
    }

}
@media (max-width:1200px){
    nav .link{
        margin-right: 20px;
    }
    nav .link:nth-of-type(5){
        margin-left:40px;
        margin-right:40px;
    }
    .crappo-icon{
        width:auto;
    }
    .crappo-icon div{
        margin-left:10px;
    }
    .crappo-icon:nth-of-type(2){
        margin:0 4%;
        
    }
    .coin-box{
        width:30%;
    }
    .mining-box button{
        margin-left:12px;
    }
    .mining-content{
        margin-left:5px;
        margin-right:50px;
        padding:32px;
    }
    .col-1{
        margin-left:68px;
    }
    .col-2{
        margin-left:68px;
    }

}
@media screen and (max-width:780px) {
    .menu{
        position:fixed;
        background-color: #00BFFF;
        top:0;
        right:-200px;
        width:200px;
        height:100vh;
        z-index:2;
        display: block;
        margin-bottom: 15px;
        transition: 1s;
    }
    nav{
        float:right;
    }
    nav .fa{
        display: inline-block;
        margin: 10px;
        color:#FFF;
        font-size:22px;
        cursor: pointer;
    }
    .menu .link{
        display: block;
        text-align:center;
        margin-bottom:12px;
    }
    .login{
        display:inline-block;
    }
    .hero-section h1{
        font-size:44px;
        line-height: 65px;
    }
    .hero-content div{
        padding:4px 6px 4xp 0;
        max-width: 314px;
        margin-bottom: 12px;
    }
    .hero-content span{
        margin-left:16px;
        display:inline-block;
    }
    .text{
        font-size:12px ;
    }
    .button-primary{
        padding:14px 20px ;
    }
    .button-secondary{
        padding: 10px 24px;
    }
    .crappo-icon{
        width:100%;
        text-align:center;
        padding:50px 0;
        margin:0px;
    }
    .crappo-icon h2{
        font-size:34px;
    }
    .crappo-icon:nth-of-type(2){
        margin: 0;
    }
    .crappo-content{
        margin: 130px 0;
        width:90%;
    }
    .crappo-form input{
        display: block;
        width:100%;
        margin-bottom: 20px;
    }
    .crappo-form{
        padding-bottom: 0px;
    }
    .coin-box{
        width:100%;
    }



    .market-box{
        display:block;

    }
    .market-section img{
        width:100%;
    }
    .market-content{
        margin-bottom:100px;
        margin-right:0px;
        text-align:left;
        width:100%;

    }
    .market-row-1 .market-content{
        margin-right:0px;
    }
    .market-row-2 img{
        margin:0 0 100px 0;
    }
    .market-row-2 .market-content{
        margin: 0px;
    }
    .mining-box input,.button-tertiary{
        text-align:center;
    }
    .mining-box button{
        margin-left:150px;
    }
    .col-1{
        margin-left:40px;
    }
    
}
@media screen and (max-width:500px) {
    .container {
         max-width: calc(100% - 56px);
         margin: auto;
         padding: 0 10px;
    }    
    .hero-section h1{
        font-size:40px;

    }
    nav{
        display: inline-block;
    }
    nav .button-secondary{
        padding:2px 8px;
        font-size:12px ;
    }
    .footer-logo{
        display:block; 
        margin-bottom:30px;
    }
    
}

